<head>
    <link rel="stylesheet" href="customer-update.component.css">
</head>
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Clientes</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Inicio</a></li>
                <li class="breadcrumb-item">Clientes</li>
                <li class="breadcrumb-item active">Editar cliente</li>
            </ol>
        </nav>
    </div>
    <div class="centered-card">
        <div class="card" id="card">
            <div class="card-body">
                <h5 class="card-title">Actualizción de cliente</h5>
                <form class="row g-3" #formUpdate="ngForm">
                    <div class="col-md-6"> <input type="text" class="form-control" placeholder="Nombre" [(ngModel)]="customer.name" name="name" required></div>
                    <div class="col-md-6"> <input type="text" class="form-control" placeholder="Apellido" [(ngModel)]="customer.surname" name="surname"></div>
                    <div class="col-md-12"> <input type="text" class="form-control" placeholder="Teléfono" [(ngModel)]="customer.cellphone" name="cellphone"></div>
                    <div class="text-center"> <button type="submit" class="btn btn-primary" [disabled]="formUpdate.invalid" id="btnEditar" (click)="updateCustomer()">Guardar</button> <button type="reset" class="btn btn-secondary">Limpiar</button></div>
                </form>
            </div>
        </div>
    </div>
</main>