.centered-card {
    padding-top: 5%;
    padding-bottom: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #card{
    width: 70%;
  }

  .text-center button:not(:last-child) {
    margin-right: 10px;
  }

  #btnRegistrar {
    background-color: #502e6c;
    border-color: #492963;
  }
  #btnRegistrar:hover {
    background-color: #653c8d;
  }
  .btn-secondary {
    background-color: #bdbdbd;
    border-color: #b9b9b9;
  }
  
  .btn-secondary:hover {
    background-color: #dddddd;
    border-color: #d2d2d2;
  }
  
