#editExpense {
  color: rgb(255, 255, 255);
  background-color: #ffc107;
  border-color: #ffc107;
  border-radius: 50rem !important;
  margin-right: 10px;
  transition: background-color 0.3s;
}

#editExpense:hover {
  background-color: #fad052;
  border-color: #fad052;
}

#deleteExpense {
  color: rgb(255, 255, 255);
  background-color: #dc3545;
  border-color: #dc3545;
  border-radius: 50rem !important;
  margin-right: 10px;
  transition: background-color 0.3s;
}

#deleteExpense:hover {
  background-color: #ef5867;
  border-color: #ef5867;
}

#infoExpense {
  color: rgb(255, 255, 255);
  background-color: #0d6efd;
  border-color: #0d6efd;
  border-radius: 50rem !important;
  margin-right: 10px;
  transition: background-color 0.3s;
}

#infoExpense:hover {
  background-color: #488ffb;
  border-color: #488ffb;
}

.subjob-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subjob-amount {
  display: flex;
  align-items: center;
}

.dollar-sign {
  width: 20px;
  text-align: right;
  margin-right: 5px;
}

.amount-value {
  text-align: right;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-amount {
  text-align: right;
}

.main {
  padding: 20px;
}

.pagetitle {
  margin-bottom: 20px;
}

.breadcrumb {
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumb-item {
  display: inline-block;
  margin-right: 5px;
}

.breadcrumb-item a {
  text-decoration: none;
}

.section {
  margin-bottom: 40px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.card-body {
  padding: 20px;
}

.card-title {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.dataTable-wrapper {
  position: relative;
  margin-bottom: 20px;
}

.dataTable-container {
  overflow-x: auto;
}

.dataTable-table {
  width: 100%;
  table-layout: fixed;
  /* Elimina la separación entre celdas */
  border: none;
  /* Elimina los bordes de la tabla */
  border-radius: 7px 7px 0 0;
  /* Actualiza el valor del border-radius */
  overflow: hidden;
  /* Ocultar cualquier contenido que sobresalga de los bordes redondeados */
}

.dataTable-table th,
.dataTable-table td {
  border-bottom: 1px solid #ccc;
}

.dataTable-table th:first-child,
.dataTable-table td:first-child {
  border-left: none;
}

.dataTable-table th:last-child,
.dataTable-table td:last-child {
  border-right: none;
}

.dataTable-table th::before,
.dataTable-table td::after {
  content: "";
  display: block;
  border-bottom: 1px solid #ccc;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: -1px;
}


.dataTable-table td {
  vertical-align: middle;
  /* Centrar verticalmente el contenido */
}

.dataTable-table th {
  text-align: center;
  vertical-align: middle;
  /* Centrar verticalmente el contenido */
  margin-left: 5px;
  /* Agregar margen a la izquierda */
  background-color: rgb(216, 78, 216);
  color: #ffffff;
  /* Texto blanco para el encabezado */
}

.dataTable-table tbody tr:hover {
  background-color: #fce4ff;
}

.dataTable-table th:nth-child(3),
.dataTable-table td:nth-child(3) {
  text-align: center;
  /* Centrar horizontalmente la columna de fecha */
}

.dataTable-selector {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.page-item {
  margin-right: 5px;
}

.page-link {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.page-link:hover {
  background-color: #f0f0f0;
}

.total-amount-container {
  margin-top: 20px;
}

.footer-amount {
  display: inline-block;
  margin-left: 10px;
  font-size: 18px;
}

.dataTable-info {
  margin-top: 20px;
}

.pagination-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.dataTable-pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.dataTable-pagination-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.card-header {
  background-color: #f0f0f0;
  padding: 10px;
}

.card-footer {
  background-color: #f0f0f0;
  padding: 10px;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer-amount h4 {
  margin: 0;
}

.subjob-container {
  margin-top: 10px;
}

.subjob-title {
  font-weight: bold;
}

.subjob-amount {
  margin-top: 5px;
}

.dollar-sign {
  font-weight: bold;
}

.amount-value {
  margin-left: 5px;
}

.btn-light {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 5px 10px;
}

.btn-light:hover {
  background-color: #e0e0e0;
}

#iconInfo {
  font-size: 18px;
  color: #ffffff;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.card-header {
  background-color: #D59CFF;
  padding: 10px;
  color: #fff;
  /* Texto blanco para el encabezado */
}

.card-footer {
  background-color: #D59CFF;
  padding: 10px;
  color: #fff;
  /* Texto blanco para el encabezado */
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer-amount h4 {
  margin: 0;
  color: #4a0094;
}

#editExpense:hover,
#deleteExpense:hover,
#infoExpense:hover,
.dataTable-table th a:hover,
.pagination-container a.page-link:hover,
.dataTable-selector:hover {
  cursor: pointer;
}

.footer-content,
.card-header {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  /* Otros estilos para el encabezado de la tarjeta */
}


.footer-amount {
  margin-left: 5px;
  /* Otros estilos para el monto del pie de página */
}

#expenseTitle {
  text-align: center;
}