<main id="main" class="main">
    <div class="pagetitle">
      <h1>Trabajos</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/">Inicio</a></li>
          <li class="breadcrumb-item">Trabajos</li>
          <li class="breadcrumb-item active">Actualizar trabajo</li>
        </ol>
      </nav>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">+ Actualizar trabajo</h5>
        <form class="row g-3" #formAddJob="ngForm">
          <div class="col-md-9">
            <div class="form-floating">
              <input type="text" class="form-control" id="floatingtitle" placeholder="Titulo" [(ngModel)]="job.jobTitle" name="jobTitle" required="">
              <label for="floatingtitle">Titulo</label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="row mb-3">
              <div class="col-sm-12">
                <input type="date" class="form-control" [(ngModel)]="job.date" name="jobDate" required="">
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="form-floating">
              <textarea class="form-control" placeholder="Address" id="floatingTextarea" style="height: 100px;" [(ngModel)]="job.jobDescription" name="jobDescription"></textarea>
              <label for="floatingTextarea">Descripción</label>
            </div>
          </div>
          <div class="contenedor">
            <div class="row">
              <div class="col-md-12">
                <div *ngFor="let item of job.subJobs; let i = index" class="row item-row" style="margin-bottom: 10px;">
                  <div class="col-md-6">
                    <div class="form-floating">
                      <input type="text" class="form-control" [(ngModel)]="item.subJobTitle" name="subJobTitle{{i}}" placeholder="Nombre del producto" required=""/>
                      <label for="floatingProductName">Detalle {{ i + 1 }}</label>
                    </div>
                  </div>
                  <div class="col-md-6 d-flex align-items-center">
                    <div class="form-floating me-2">
                      <input type="number" class="form-control" [(ngModel)]="item.subJobAmount" name="subJobAmount{{i}}" (input)="calcularTotal()" (focus)="borrarCero(item)" placeholder="Precio" required=""/>
                      <label for="floatingProductPrice">Precio</label>
                    </div>
                    <button (click)="eliminarItem(i)" class="btn btn-danger">Eliminar</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" style="margin-bottom: 10px;">
              <div class="col-md-12">
                <button (click)="agregarItem()" class="btn btn-primary">Agregar item</button>
              </div>
            </div>
            <br>
            <div class="card-footer">
              <div class="footer-content">
                <div class="footer-left">
                  Total:
                </div>
                <div class="footer-right">
                  <span class="footer-amount">
                    <h4>{{ calcularTotal() }}</h4>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary" [disabled]="formAddJob.invalid" (click)="updateJob()" id="btnGuardar">Guardar</button>
            <button type="reset" class="btn btn-secondary">Limpiar</button>
          </div>
        </form>
      </div>
    </div>
  </main>
  