#deleteCustomer {
    color: rgb(255, 255, 255);
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 50rem !important;
    margin-right: 10px;
    transition: background-color 0.3s;
}

#deleteCustomer:hover {
    background-color: #ef5867;
    border-color: #ef5867;
}

#infoCustomer {
    color: rgb(255, 255, 255);
    background-color: #0d6efd;
    border-color: #0d6efd;
    border-radius: 50rem !important;
    margin-right: 10px;
    transition: background-color 0.3s;
}

#infoCustomer:hover {
    background-color: #488ffb;
    border-color: #488ffb;
}

#addJob {
    color: rgb(255, 255, 255);
    background-color: #00e339;
    border-color: #00e339;
    border-radius: 50rem !important;
    margin-right: 10px;
    transition: background-color 0.3s;
}

#addJob:hover {
    background-color: #30f962;
    border-color: #30f962;
}

#acciones {
    text-align: center;
}

.page-item {
    margin-right: 5px;
  }
  
  .page-link {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .page-link:hover {
    background-color: #f0f0f0;
  }

.pagination-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.dataTable-pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.dataTable-pagination-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pagination-container a.page-link:hover {
    cursor: pointer;
}

.dataTable-selector:hover {
    cursor: pointer;
}

thead th {
    background-color: rgb(216, 78, 216);
    color: white;
}

.dataTable-table tbody tr:hover {
    background-color: #fce4ff;
}

.dataTable-table {
    width: 100%;
    table-layout: fixed;
    border-radius: 7px 7px 0 0;
    /* Actualiza el valor del border-radius */
    overflow: hidden;
    /* Ocultar cualquier contenido que sobresalga de los bordes redondeados */
}

thead th[data-sortable=""] {
    text-align: center;
}