<main id="main" class="main">
    <div class="pagetitle">
       <h1>Inicio</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a>Bienvenido!</a></li>
          </ol>
       </nav>
    </div>
    <section class="section">
      <div class="row justify-content-center">
          <div class="col-lg-8 d-flex justify-content-center">
              <div class="card">
                  <img src="assets/img/Sandra Peinados.png" class="card-img-top" alt="...">
              </div>
          </div>
      </div>
  </section>
 </main>