.entrarBtn {
    background-color: #653c8d;
    border-color: #492963;
}

.entrarBtn:hover {
    background-color: #502e6c;
}

.credit-link {
    border-color: #492963;
    color: #653c8d;
    transition: color 0.1s;
 }
 
 .credit-link:hover {
    color: #a38bba;
 }