<main id="main" class="main">
  <div class="pagetitle">
    <h1>Gastos</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Inicio</a></li>
        <li class="breadcrumb-item">Gastos</li>
        <li class="breadcrumb-item active">Agregar gasto</li>
      </ol>
    </nav>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">+ Gasto Nuevo</h5>
      <form class="row g-3" #formAddExpense="ngForm">
        <div class="col-md-9">
          <div class="form-floating">
            <input type="text" class="form-control" id="floatingtitle" placeholder="Titulo"
              [(ngModel)]="expense.expenseTitle" name="expenseTitle" required="">
            <label for="floatingtitle">Titulo</label>
          </div>
        </div>
        <div class="col-md-3">
          <div class="row mb-3">
            <div class="col-sm-12">
              <input type="date" class="form-control" [(ngModel)]="expense.date" name="jobDate" required="">
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-floating">
            <textarea class="form-control" placeholder="Address" id="floatingTextarea" style="height: 100px;"
              [(ngModel)]="expense.expenseDescription" name="jobDescription"></textarea>
            <label for="floatingTextarea">Descripción</label>
          </div>
        </div>
        <div class="contenedor">
          <div class="row">
            <div class="col-md-12">
              <div class="row item-row" style="margin-bottom: 10px;">
                <div class="col-md-6">
                </div>
                <div class="col-md-6 d-flex align-items-center">
                  <div class="form-floating me-2">
                    <input type="number" class="form-control" [(ngModel)]="expense.expenseAmount" name="expenseAmount"
                      placeholder="Precio" required="" />
                    <label for="floatingProductPrice">Precio</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="card-footer">
            <div class="footer-content">
              <div class="footer-left">
                Total:
              </div>
              <div class="footer-right">
                <span class="footer-amount">
                  <h4>$ {{expense.expenseAmount}}</h4>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary" [disabled]="formAddExpense.invalid" (click)="addExpense()"
            id="btnGuardar">Guardar</button>
          <button type="reset" class="btn btn-secondary">Limpiar</button>
        </div>
      </form>
    </div>
  </div>
</main>